<main>
    {{!-- Forms --}}
    <div class="container"  >
        <div class="row" >
            <div class="col-6 offset-3" >

                {{> mensagens}}

                <form action="/cadastrar" method="POST" enctype="multipart/form-data">
                    <input type="text"   name="nome" class="form-control" placeholder="Nome do produto" autocomplete="off">
                    <input type="number" name="valor" class="form-control"  placeholder="Valor do produto" autocomplete="off">
                    <input type="file"   name="imagem"  class="form-control">
                    <input type="submit" class="btn btn-primary" value="Cadastrar" >
                </form>
            </div>
        </div>
    </div>

    {{!-- Listagem de produtos --}}
    {{! Coódigo de refereciamento }}
    <div class="container">
        <div class="row">
            {{#each produtos}}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <img src="../banco-imagens/{{imagem}}" >
                        <div class="textos">
                            <p>{{nome}}</p>
                            <p>R${{valor}}</p>
                        </div>
                        <a href="/editar/{{codigo}}" class="btn btn-warning">Alterar</a>
                        <a href="/remover/{{codigo}}&{{imagem}}" class="btn btn-danger">Remover</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

</main>